.cartList{
    display: flex;
}
.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 78%;
    padding: 20px;
}

.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}

.filters > span{
    padding-bottom: 20px;
}

.title{
    font-size: 30px;
}

.summary{
    width: 30%;
}

@media screen and (max-width: 771px) {
    .productContainer {
      width: 58%;
      padding: 0px;
    }
    .filters{
        width: 40%;
        padding: 10px;
        margin: 5px;
    }
    .filters >span{
        font-size: 10px;
    }
    .title{
        font-size: 18px !important;
    }
  }
  
